body
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: fff;
    background: white;
    background-size: cover;
    background-color: white;
}



.signin
{
    background: white;
    padding: 40px;
    width: 400px;
    margin: auto;
    margin-top: 170px;
    height: 300px;
    margin-left: ;
    border-right: 6px solid rgb(230, 227, 227);
    border-bottom: 6px solid rgb(230, 227, 227);
}

form
{
    width: 240px;
    text-align: center;
}

input
{
    width: 350px;
    text-align: center;
    background: transparent;
    border: 1px solid rgb(29, 221, 115);
    border-radius: 5px;
    border-bottom: 1px solid #fff;
    font-family: 'Play', sans-serif;
    font-size: 16px;
    font-weight: 200px;
    padding: 10px 0;
    transition: border 0.5s;
    outline: none;
    color: black;
}

input[type=button]
{
    border: none;
    width: 350px;
    background: rgb(29, 221, 115);
    color: white;
    font-size: 16px;
    line-height: 25px;
    padding: 10px 0;
    border-radius: 5px;
    margin-left: 0px;
    cursor: pointer;
}

input[type=button]:hover
{
    color: black;
    background-color: white;
}

h2
{
    color: black;
    font-size: 26px;
    margin-top: -20px;
    margin-left: -29px;
}

a
{
    color: rgb(29, 221, 115);
    text-decoration: blink;
}

a:hover
{
    color: black;
}

.container
{
    display: flex;
    flex-direction: row;
    width: 100;
}

.bottom
{
    font-size: 14px;
    margin-top: -70px;
    margin-left: 0px;
    margin-right: -120px;
}

::placeholder {
    color:black;
    opacity: 0.2; 
}



